USE [master]
GO
/****** Object:  Database [Stok]    Script Date: 7.11.2017 13:13:47 ******/
CREATE DATABASE [Stok]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stok', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Stok.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Stok_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Stok_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 COLLATE Turkish_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stok].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stok]
GO
/****** Object:  StoredProcedure [dbo].[PRC_AZALAN_URUN]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PRC_AZALAN_URUN]
AS
SELECT URUNKODU,URUNADI,URUNCINSI,URUNMIKTARI FROM URUNLER WHERE URUNMIKTARI <= 5
GO
/****** Object:  StoredProcedure [dbo].[PRC_BORC_DELETE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_BORC_DELETE]

@ID int

AS

DELETE FROM BORC WHERE @ID=ID
GO
/****** Object:  StoredProcedure [dbo].[PRC_BORC_INSERT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_BORC_INSERT]

@ADISOYADI NVARCHAR(100),
@BORCUMUZ MONEY,
@BORCTARIHI datetime,
@ODEMETARIHI datetime,
@TELNO NVARCHAR(50),
@ADRES NVARCHAR(50)

AS

INSERT BORC VALUES (@ADISOYADI,@BORCUMUZ,@BORCTARIHI,@ODEMETARIHI,@TELNO,@ADRES)
GO
/****** Object:  StoredProcedure [dbo].[PRC_BORC_SELECT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_BORC_SELECT]

AS

SELECT * FROM BORC ORDER BY ADISOYADI ASC



GO
/****** Object:  StoredProcedure [dbo].[PRC_BORC_UPDATE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_BORC_UPDATE]

@ID int,
@ADISOYADI NVARCHAR(100),
@BORCUMUZ MONEY,
@ODEMETARIHI datetime,
@TELNO NVARCHAR(50),
@ADRES NVARCHAR(50)


AS

UPDATE BORC SET ADISOYADI=@ADISOYADI,
				BORCUMUZ=@BORCUMUZ,
				ODEMETARIHI=@ODEMETARIHI,
				TELNO=@TELNO,
				ADRES=@ADRES

				WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[PRC_BORCLU_DELETE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_BORCLU_DELETE]

@ID int

AS

DELETE FROM BORCLU WHERE @ID=ID
GO
/****** Object:  StoredProcedure [dbo].[PRC_BORCLU_INSERT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PRC_BORCLU_INSERT]

@ADISOYADI NVARCHAR(80),
@BORCU MONEY,
@BORCTARIHI datetime,
@ODEMETARIHI datetime,
@TELNO NVARCHAR(50),
@ADRES NVARCHAR(500)

AS

INSERT BORCLU VALUES (@ADISOYADI,@BORCU,@BORCTARIHI,@ODEMETARIHI,@TELNO,@ADRES)
GO
/****** Object:  StoredProcedure [dbo].[PRC_BORCLU_SELECT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PRC_BORCLU_SELECT]

AS

SELECT * FROM BORCLU ORDER BY ADISOYADI ASC



GO
/****** Object:  StoredProcedure [dbo].[PRC_BORCLU_UPDATE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PRC_BORCLU_UPDATE]

@ID int,
@ADISOYADI NVARCHAR(80),
@BORCU MONEY,
@ODEMETARIHI datetime,
@TELNO NVARCHAR(50),
@ADRES NVARCHAR(500)

AS

UPDATE BORCLU SET ADISOYADI=@ADISOYADI,
				  BORCU=@BORCU,
				  ODEMETARIHI=@ODEMETARIHI,
				  TELNO=@TELNO,
				  ADRES=@ADRES

				  WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[PRC_KULLANICI_DELETE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_KULLANICI_DELETE]

@TC NVARCHAR(50)

AS

DELETE FROM KULLANICI WHERE @TC=TC
GO
/****** Object:  StoredProcedure [dbo].[PRC_KULLANICI_INSERT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PRC_KULLANICI_INSERT]

@TC NVARCHAR(15),
@ADI NVARCHAR(50),
@SOYADI NVARCHAR(50),
@KULLANICIADI NVARCHAR(15),
@SIFRE NVARCHAR(15),
@YETKISI NVARCHAR(15),
@GIZLIYANIT NVARCHAR(50),
@EMAIL NVARCHAR(50),
@TELNO NVARCHAR(50),
@KAYITTARIHI DATETIME,
@ADRES NVARCHAR(500)

AS

INSERT KULLANICI VALUES (@TC,@ADI,@SOYADI,@KULLANICIADI,@SIFRE,@YETKISI,@GIZLIYANIT,@EMAIL,@TELNO,@KAYITTARIHI,@ADRES)
GO
/****** Object:  StoredProcedure [dbo].[PRC_KULLANICI_SELECT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_KULLANICI_SELECT]
AS
SELECT * FROM KULLANICI ORDER BY KULLANICIADI ASC


GO
/****** Object:  StoredProcedure [dbo].[PRC_KULLANICI_UPDATE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_KULLANICI_UPDATE]

@TC NVARCHAR(15),
@ADI NVARCHAR(50),
@SOYADI NVARCHAR(50),
@KULLANICIADI NVARCHAR(15),
@SIFRE NVARCHAR(15),
@YETKISI NVARCHAR(15),
@GIZLIYANIT NVARCHAR(50),
@EMAIL NVARCHAR(50),
@TELNO NVARCHAR(50),
@ADRES NVARCHAR(500)

AS

UPDATE KULLANICI SET ADI=@ADI,
					 SOYADI=@SOYADI,
					 KULLANICIADI=@KULLANICIADI,
					 SIFRE=@SIFRE,
					 YETKISI=@YETKISI,
					 GIZLIYANIT=@GIZLIYANIT,
					 EMAIL=@EMAIL,
					 TELNO=@TELNO,
					 ADRES=@ADRES

					 WHERE TC=@TC
GO
/****** Object:  StoredProcedure [dbo].[PRC_PERSONEL_DELETE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_PERSONEL_DELETE]

@TC NVARCHAR(50)

AS

DELETE FROM PERSONEL WHERE @TC=TC
GO
/****** Object:  StoredProcedure [dbo].[PRC_PERSONEL_INSERT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PRC_PERSONEL_INSERT]

@TC NVARCHAR(50),
@ADI NVARCHAR(50),
@SOYADI NVARCHAR(50),
@MAAS MONEY,
@TELNO NVARCHAR(18),
@BASLAMATARIHI datetime,
@MEDENIHAL NVARCHAR(10),
@ADRES NVARCHAR(500)

AS

INSERT PERSONEL VALUES (@TC,@ADI,@SOYADI,@MAAS,@TELNO,@BASLAMATARIHI,@MEDENIHAL,@ADRES)
GO
/****** Object:  StoredProcedure [dbo].[PRC_PERSONEL_SELECT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_PERSONEL_SELECT]
AS
SELECT * FROM PERSONEL ORDER BY ADI ASC


GO
/****** Object:  StoredProcedure [dbo].[PRC_PERSONEL_UPDATE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_PERSONEL_UPDATE]

@TC NVARCHAR(50),
@ADI NVARCHAR(50),
@SOYADI NVARCHAR(50),
@MAAS MONEY,
@TELNO NVARCHAR(18),
@BASLAMATARIHI datetime,
@MEDENIHAL NVARCHAR(10),
@ADRES NVARCHAR(500)

AS

UPDATE PERSONEL SET ADI=@ADI,
					SOYADI=@SOYADI,
					MAAS=@MAAS,
					TELNO=@TELNO,
					BASLAMATARIHI=@BASLAMATARIHI,
					MEDENIHAL=@MEDENIHAL,
					ADRES=@ADRES

					WHERE TC=@TC
GO
/****** Object:  StoredProcedure [dbo].[PRC_SATILANURUN_INSERT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_SATILANURUN_INSERT]

@URUNKODU NVARCHAR(50),
@URUNADI NVARCHAR(50),
@URUNMIKTARI int,
@URUNCINSI NVARCHAR(50),
@SATISTARIHI datetime,
@ALISFIYAT MONEY,
@SATISFIYAT MONEY

AS

INSERT SATILANURUN VALUES (@URUNKODU,@URUNADI,@URUNMIKTARI,@URUNCINSI,@SATISTARIHI,@ALISFIYAT,@SATISFIYAT)
GO
/****** Object:  StoredProcedure [dbo].[PRC_SATILANURUN_SELECT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_SATILANURUN_SELECT]
AS
SELECT * FROM SATILANURUN ORDER BY URUNADI ASC
GO
/****** Object:  StoredProcedure [dbo].[PRC_SIPARISEDILECEK_DELETE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_SIPARISEDILECEK_DELETE]

@ID int

AS

DELETE FROM SIPARISEDILECEK WHERE @ID=ID



GO
/****** Object:  StoredProcedure [dbo].[PRC_SIPARISEDILECEK_INSERT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PRC_SIPARISEDILECEK_INSERT]

@URUNADI NVARCHAR(50),
@SIPARISTARIHI datetime,
@MIKTAR NVARCHAR(50)

AS

INSERT SIPARISEDILECEK VALUES (@URUNADI,@SIPARISTARIHI,@MIKTAR)
GO
/****** Object:  StoredProcedure [dbo].[PRC_SIPARISEDILECEK_SELECT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PRC_SIPARISEDILECEK_SELECT]

AS

SELECT * FROM SIPARISEDILECEK ORDER BY URUNADI ASC


GO
/****** Object:  StoredProcedure [dbo].[PRC_SIPARISEDILEN_DELETE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PRC_SIPARISEDILEN_DELETE]

@ID int

AS

DELETE FROM SIPARISEDILEN WHERE @ID=ID
GO
/****** Object:  StoredProcedure [dbo].[PRC_SIPARISEDILEN_INSERT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PRC_SIPARISEDILEN_INSERT]

@URUNADI NVARCHAR(50),
@SIPARISTARIHI datetime,
@MIKTAR NVARCHAR(50)

AS

INSERT SIPARISEDILEN VALUES (@URUNADI,@SIPARISTARIHI,@MIKTAR)


GO
/****** Object:  StoredProcedure [dbo].[PRC_SIPARISEDILEN_SELECT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_SIPARISEDILEN_SELECT]

AS

SELECT * FROM SIPARISEDILEN ORDER BY URUNADI ASC


GO
/****** Object:  StoredProcedure [dbo].[PRC_SONSATILMISMAL]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_SONSATILMISMAL]
AS
SELECT * FROM URUNLER WHERE DATEDIFF(WEEK, ALISTARIHI,GETDATE()) BETWEEN 0 AND 2 ORDER BY ALISTARIHI DESC
GO
/****** Object:  StoredProcedure [dbo].[PRC_STOK_BILGISI]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_STOK_BILGISI]
AS
SELECT URUNKODU,URUNADI,URUNCINSI,URUNMIKTARI FROM URUNLER ORDER BY URUNADI ASC
GO
/****** Object:  StoredProcedure [dbo].[PRC_URUNLER_DELETE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_URUNLER_DELETE]

@URUNKODU NVARCHAR(50)

AS

DELETE FROM URUNLER WHERE @URUNKODU=URUNKODU
GO
/****** Object:  StoredProcedure [dbo].[PRC_URUNLER_INSERT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PRC_URUNLER_INSERT]

@URUNKODU NVARCHAR(50),
@URUNADI NVARCHAR(50),
@URUNMIKTARI int,
@URUNCINSI NVARCHAR(50),
@ALISTARIHI datetime,
@ALISFIYAT MONEY,
@SATISFIYAT MONEY

AS

INSERT URUNLER VALUES (@URUNKODU,@URUNADI,@URUNMIKTARI,@URUNCINSI,@ALISTARIHI,@ALISFIYAT,@SATISFIYAT)
GO
/****** Object:  StoredProcedure [dbo].[PRC_URUNLER_SELECT]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_URUNLER_SELECT]
AS
SELECT * FROM URUNLER ORDER BY URUNADI ASC


GO
/****** Object:  StoredProcedure [dbo].[PRC_URUNLER_UPDATE]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PRC_URUNLER_UPDATE]

@URUNKODU NVARCHAR(50),
@URUNADI NVARCHAR(50),
@URUNMIKTARI int,
@URUNCINSI NVARCHAR(50),
@ALISFIYAT MONEY,
@SATISFIYAT MONEY

AS

UPDATE URUNLER SET URUNADI=@URUNADI,
				   URUNMIKTARI=@URUNMIKTARI,
				   URUNCINSI=@URUNCINSI,
				   ALISFIYAT=@ALISFIYAT,
				   SATISFIYAT=@SATISFIYAT

				   WHERE URUNKODU=@URUNKODU
GO
/****** Object:  Table [dbo].[BORC]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADISOYADI] [nvarchar](100) COLLATE Turkish_CI_AS NULL,
	[BORCUMUZ] [money] NULL,
	[BORCTARIHI] [datetime] NULL,
	[ODEMETARIHI] [datetime] NULL,
	[TELNO] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[ADRES] [nvarchar](500) COLLATE Turkish_CI_AS NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BORCLU]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORCLU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADISOYADI] [nvarchar](80) COLLATE Turkish_CI_AS NULL,
	[BORCU] [money] NULL,
	[BORCTARIHI] [datetime] NULL,
	[ODEMETARIHI] [datetime] NULL,
	[TELNO] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[ADRES] [nvarchar](500) COLLATE Turkish_CI_AS NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KULLANICI]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICI](
	[TC] [nvarchar](15) COLLATE Turkish_CI_AS NOT NULL,
	[ADI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[SOYADI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[KULLANICIADI] [nvarchar](15) COLLATE Turkish_CI_AS NULL,
	[SIFRE] [nvarchar](15) COLLATE Turkish_CI_AS NULL,
	[YETKISI] [nvarchar](15) COLLATE Turkish_CI_AS NULL,
	[GIZLIYANIT] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[EMAIL] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[TELNO] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[KAYITTARIHI] [datetime] NULL,
	[ADRES] [nvarchar](500) COLLATE Turkish_CI_AS NULL,
 CONSTRAINT [PK_KULLANICI] PRIMARY KEY CLUSTERED 
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONEL]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL](
	[TC] [nvarchar](50) COLLATE Turkish_CI_AS NOT NULL,
	[ADI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[SOYADI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[MAAS] [money] NULL,
	[TELNO] [nvarchar](18) COLLATE Turkish_CI_AS NULL,
	[BASLAMATARIHI] [datetime] NULL,
	[MEDENIHAL] [nvarchar](10) COLLATE Turkish_CI_AS NULL,
	[ADRES] [nvarchar](500) COLLATE Turkish_CI_AS NULL,
 CONSTRAINT [PK_PERSONEL] PRIMARY KEY CLUSTERED 
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SATILANURUN]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATILANURUN](
	[URUNKODU] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[URUNADI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[URUNMIKTARI] [int] NULL,
	[URUNCINSI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[SATISTARIHI] [datetime] NULL,
	[ALISFIYAT] [money] NULL,
	[SATISFIYAT] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIPARISEDILECEK]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARISEDILECEK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URUNADI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[SIPARISTARIHI] [datetime] NULL,
	[MIKTAR] [nchar](10) COLLATE Turkish_CI_AS NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIPARISEDILEN]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARISEDILEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URUNADI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[SIPARISTARIHI] [datetime] NULL,
	[MIKTAR] [nvarchar](50) COLLATE Turkish_CI_AS NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[URUNLER]    Script Date: 7.11.2017 13:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUNLER](
	[URUNKODU] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[URUNADI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[URUNMIKTARI] [int] NULL,
	[URUNCINSI] [nvarchar](50) COLLATE Turkish_CI_AS NULL,
	[ALISTARIHI] [datetime] NULL,
	[ALISFIYAT] [money] NULL,
	[SATISFIYAT] [money] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BORC] ON 

INSERT [dbo].[BORC] ([ID], [ADISOYADI], [BORCUMUZ], [BORCTARIHI], [ODEMETARIHI], [TELNO], [ADRES]) VALUES (10, N'MUSTAFA GUNES', 13.0000, CAST(0x0000A7F100CF5129 AS DateTime), CAST(0x0000A7FA00CF3870 AS DateTime), N'(542) 526-6325', N'ANTEP')
SET IDENTITY_INSERT [dbo].[BORC] OFF
SET IDENTITY_INSERT [dbo].[BORCLU] ON 

INSERT [dbo].[BORCLU] ([ID], [ADISOYADI], [BORCU], [BORCTARIHI], [ODEMETARIHI], [TELNO], [ADRES]) VALUES (10, N'MUSTAFA GUNES', 1200.0000, CAST(0x0000A7F300DEA7B5 AS DateTime), CAST(0x0000A7F600DE98C4 AS DateTime), N'(542) 222-2333', N'ANTEP')
SET IDENTITY_INSERT [dbo].[BORCLU] OFF
INSERT [dbo].[KULLANICI] ([TC], [ADI], [SOYADI], [KULLANICIADI], [SIFRE], [YETKISI], [GIZLIYANIT], [EMAIL], [TELNO], [KAYITTARIHI], [ADRES]) VALUES (N'71652230125', N'AHMET', N'YILMAZ', N'A', N'A', N'ADMİN', N'ADMIN', N'admin@gmail.com', N'(542) 256-6666', CAST(0x0000A7EE00D2ACF9 AS DateTime), N'VAN')
INSERT [dbo].[PERSONEL] ([TC], [ADI], [SOYADI], [MAAS], [TELNO], [BASLAMATARIHI], [MEDENIHAL], [ADRES]) VALUES (N'54546564546', N'YASİN', N'LOKUM', 3330000.0000, N'(366) 366-322', CAST(0x0000A7DB0139C500 AS DateTime), N'BEKAR', N'GAZİANTEP')
INSERT [dbo].[SATILANURUN] ([URUNKODU], [URUNADI], [URUNMIKTARI], [URUNCINSI], [SATISTARIHI], [ALISFIYAT], [SATISFIYAT]) VALUES (N'129', N'KLAVYE', 1, N'PC', CAST(0x0000A7E0014CEE17 AS DateTime), 330000.0000, 500000.0000)
INSERT [dbo].[SATILANURUN] ([URUNKODU], [URUNADI], [URUNMIKTARI], [URUNCINSI], [SATISTARIHI], [ALISFIYAT], [SATISFIYAT]) VALUES (N'129', N'KLAVYE', 1, N'PC', CAST(0x0000A7E0014CFDA5 AS DateTime), 330000.0000, 500000.0000)
INSERT [dbo].[SATILANURUN] ([URUNKODU], [URUNADI], [URUNMIKTARI], [URUNCINSI], [SATISTARIHI], [ALISFIYAT], [SATISFIYAT]) VALUES (N'133', N'AZOT', 2, N'GÜBRE', CAST(0x0000A7E500B3960D AS DateTime), 770000.0000, 960000.0000)
INSERT [dbo].[URUNLER] ([URUNKODU], [URUNADI], [URUNMIKTARI], [URUNCINSI], [ALISTARIHI], [ALISFIYAT], [SATISFIYAT]) VALUES (N'123', N'MAYDANOZ', 3, N'YİYECEK', CAST(0x0000A7DB01424FD1 AS DateTime), 155.0000, 366.0000)
INSERT [dbo].[URUNLER] ([URUNKODU], [URUNADI], [URUNMIKTARI], [URUNCINSI], [ALISTARIHI], [ALISFIYAT], [SATISFIYAT]) VALUES (N'123', N'MAYDANOZ', 2, N'YİYECEK', CAST(0x0000A7DB0142E642 AS DateTime), 12.0000, 3.0000)
INSERT [dbo].[URUNLER] ([URUNKODU], [URUNADI], [URUNMIKTARI], [URUNCINSI], [ALISTARIHI], [ALISFIYAT], [SATISFIYAT]) VALUES (N'125', N'ÜZÜM', 5, N'MEYVE', CAST(0x0000A7DC00CA76BF AS DateTime), 2.0000, 4.0000)
USE [master]
GO
